<div class="row item-container">
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= sortable 'name', 'Tên món' %></th>
          <th><%= sortable 'view_count', 'Lượt xem' %></th>
          <th><%= sortable 'price', 'Đơn giá' %></th>
        </tr>
      </thead>
      <tbody>
        <% items.each_with_index do |item, index| %>
          <tr>
            <td><%= link_to item.name, menus_path(section: @section, item_id: item.id), class: "item-link" %></td>
            <td class="item-view"><%= link_to item.view_count, menus_path(section: @section, item_id: item.id), class: "item-link" %></td>
            <td class="item-price"><%= link_to number_to_currency(item.price, precision: 0, unit: "VND", delimiter: ",", format: "%n %u"), order_details_add_path(item_id: item.id), class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if !selected_item.nil? %>
    <div class="col-md-6">
      <div class="card">
        <%= link_to image_tag(selected_item.image_url, class: "card-img-top", alt: "selected_item.name"), item_path(selected_item) %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to selected_item.name, item_path(selected_item) %></h4>
          <div class="view-comment-group">
            <p><%= image_tag("view.png") %> <%= selected_item.view_count %></p>
          </div>
          <p class="card-text"><%= selected_item.desc %></p>
          <%= link_to "Đặt món", orders_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
