<div class="container menu">
  <% if flash[:warning] %>
    <div class="row section alert alert-warning">
      <%= flash[:warning] %>
    </div>
  <% end %>
  <div class="row section">
    <div class="btn-group" role="group" aria-label="section">
      <%= link_to "Breakfast", menus_path(section: "Breakfast"), class: "btn btn-secondary #{'active' if @section == 'Breakfast'}" %>
      <%= link_to "Lunch", menus_path(section: "Lunch"), class: "btn btn-secondary #{'active' if @section == 'Lunch'}" %>
      <%= link_to "Dinner", menus_path(section: "Dinner"), class: "btn btn-secondary #{'active' if @section == 'Dinner'}" %>
      <%= link_to "Drinks", menus_path(section: "Drinks"), class: "btn btn-secondary #{'active' if @section == 'Drinks'}" %>
    </div>
  </div>
  <%= render partial: "item", locals: { section: @section, items: @items, selected_item: @selected_item } %>
</div>
