<div class="container order">
  <div class="row">
    <h1 class="display-3">Đặt hàng</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= form_for @order do |order| %>
        <%= fields_for @contact_detail do |contact_detail| %>
          <fieldset class="form-group">
            <%= contact_detail.label :name, "Tên khách hàng" %>
            <%= contact_detail.text_field :name, class: "form-control", placeholder: "" %>
          </fieldset>
          <fieldset class="form-group">
            <%= contact_detail.label :phone %>
            <%= contact_detail.telephone_field :phone, class: "form-control", placeholder: "" %>
            <small class="text-muted">Dùng để nhận tin nhắn xác nhận đặt hàng</small>
          </fieldset>
          <fieldset class="form-group">
            <%= contact_detail.label :email %>
            <%= contact_detail.email_field :email, class: "form-control", placeholder: "" %>
            <small class="text-muted">Dùng để nhận email xác nhận đặt hàng</small>
          </fieldset>
          <fieldset class="form-group">
            <%= contact_detail.label :address %>
            <%= contact_detail.text_area :address, class: "form-control", placeholder: "" %>
          </fieldset>
          <fieldset class="form-group">
            <label for="coupon-code">Mã giảm giá</label>
            <div class="input-group">
              <input type="text" class="form-control" name="coupon-code" id="coupon-code" placeholder="">
              <span class="input-group-btn">
                <button class="btn btn-success">Áp dụng</button>
              </span>
            </div>
          </fieldset>
          <button class="btn btn-default">Tiếp tục chọn món</button>
          <%= order.submit "Đặt hàng", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <table class="table item-price-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên món</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>70.000</td>
            <td>1</td>
            <td class="item-price">70.000</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>70.000</td>
            <td>1</td>
            <td class="item-price">70.000</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>70.000</td>
            <td>1</td>
            <td class="item-price">70.000</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <td>Giảm giá</td>
            <td>50.000</td>
          </tr>
          <tr>
            <td>Phí giao hàng</td>
            <td>50.000</td>
          </tr>
          <tr>
            <td>Tổng cộng</td>
            <td>50.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
