<!DOCTYPE html>
<html>
  <head>
    <title>CdsRestaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="http://maps.googleapis.com/maps/api/js"></script> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a href="/" class="navbar-brand">Navbar</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
      </ul>
      <%= form_tag items_path, method: 'get', class: 'form-inline pull-xs-right' do %>
        <%= text_field_tag 'name', params[:name], placeholder: 'Tìm món ăn yêu thích ...', class: 'form-control' %>
        <%= submit_tag 'Tìm kiếm', class: 'btn btn-success-outline' %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
